*{
    font: sans-serif;
    color: #19345E;
}
body{
    font-size: 100%;
    margin: 0 auto;
}

/* blog */
/* .blog{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 250px;
    transform: translate(130%, 0%);
}
.blog h1{
    color:#19345E;
    display: flex;
    flex-direction: row;
}
.blog h1:before, h1:after{
    content: "";
    flex: 1 1;
    border-bottom: 3px solid #F47522;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
} */

/* footer */
footer{
    background-color: #19345E;
    height: 100%;
    align-items: center;
    align-content: center;
    color: white;
    justify-content: center;
}
footer p{
    color: white;
}

/* navbar */
header{
    background-color: white;
    box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
}
.nav-menu a.active{
    color: #F47522;
}
.btn-contact{
    background-color: #F47522;
    border-radius: 30px;
    height: 30px;
    width: 120px;
    color: white;
    border: none;
    margin-top: -5px;
    font: normal normal  25px/8px 'Dongle', sans-serif;
    letter-spacing: 1px;
}
.nav-menu{
    margin-top: 1.7%;
}
.nav-menu a{
    text-decoration: none;
    color:#19345E;
    font: normal normal  25px/8px 'Dongle', sans-serif;
    letter-spacing: 0px;
}

/* blog title */
.blog{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #19345E;
    font: sans-serif;
    /* display: flex; */
    /* flex-direction: row; */
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0.5em;
}

.blog h1:before,
.blog h1:after{
    position:absolute;
    /* flex: 1 1; \00a0\00a0\00a0\00a0*/
    width: 30%;
    height: 4px;
    border-bottom: 3px solid;
    content:'';
    text-decoration: line-through;
    top: 50%;
    /* margin: auto 0.5em; */
    color: #F47522;

}
.blog h1:before {
    text-align: center;
    right: 100%;
}
.blog h1:after {
    left: 100%
}